html,
body {
	margin: 0;
	padding: 0;
}

textarea {
	box-sizing: border-box;
	border: 0;
	margin: 0;
	resize: none;
	block-size: 100vb;
	inline-size: 100vi;
	padding: 0.5em;
	font-size: 120%;
	line-height: 1.5;
	background-color: transparent;
	outline: none;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
	}
}
